<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    .scanned-files-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        .scanned

    {
        width: 100px;
        height: 150px;
        object-fit: cover;
        border: 1px solid red;
    }

    }

    .scanned {
        width: 100px;
        height: 150px;
        object-fit: cover;
        border: 1px solid red;
    }
</style>

<body id="body">
    <button style="margin : 10px" onclick="scan()">scan</button>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

        async function scan() {
            //var requestData = { isFeeder: true };
            axios.get("/ScannerService.asmx/Scanner?isFeeder=true")
                .then((res) => {

                    //if XML
                    parser = new DOMParser();
                    xmlDoc = parser.parseFromString(res.data, "text/xml");

                    var responseJson =
                        xmlDoc.getElementsByTagName("anyType")[0].childNodes[0].nodeValue;

                    response = {
                        data: JSON.parse(responseJson)
                    };
                    //change res to response
                    //end if

                    if (response.data.images.length > 0) {
                        var mainScannerWarrper = document.createElement('div');
                        mainScannerWarrper.className = "scanned-files-wrapper";
                        mainScannerWarrper.id = "scanneds";

                        document.getElementById("body").appendChild(mainScannerWarrper);

                        for (var i = 0; i < response.data.images.length; i++) {
                            var tag = document.getElementById("scanneds");
                            var img = document.createElement('img');
                            img.src = "data:image/jpeg;base64," + response.data.images[i];
                            img.className = "scanned";
                            tag.appendChild(img);
                        }
                    }

                    console.log(document.getElementById("body"));
                })
        }

    </script>
</body>

</html>